{% block content %}
<!-- Start Offer Banner Section -->
<section class="offer-banners">
	<div class="container">
    	<div class="row justify-content-center">
        	<div class="col-sm-4 text-center">
            	<a href="#" class="offer-banner same-hover"><img src="https://bestwebcreator.com/ATZShop/demo/image/offer-banner-1.jpg" alt="offer-banner"></a>
            </div>
            <div class="col-sm-4 text-center">
            	<a href="#" class="offer-banner same-hover"><img src="https://bestwebcreator.com/ATZShop/demo/image/offer-banner-2.jpg" alt="offer-banner"></a>
            </div>
            <div class="col-sm-4 text-center">
            	<a href="#" class="offer-banner same-hover"><img src="https://bestwebcreator.com/ATZShop/demo/image/offer-banner-3.jpg" alt="offer-banner"></a>
            </div>
        </div>
    </div>
</section>
<!-- End Offer Banner  Section -->
{% endblock %}