{% extends 'store/main.html' %}
{% block content %}
    <h3>Ordered Items : </h3>
    <br>
    <div>
        {% if request.user.is_authenticated %}
            {% for order in ordered %}
			<div class="col-lg-12 col-md-12 mt-4">
            	<div class="cart-inner-box box-2 text-center">
                	<div class="ci-title">
                    	<h6>Orders</h6>
                    </div>
					
                    <div class="ci-caption">
                        <ul>
                        	<li>Order Placed <span>{{ order.order.date_ordered | date:"d M Y"}}</span></li>
                            <li>Transaction Id <span>{{order.order.transaction_id}}</span></li>
                            <li>Total<span>&#8377;{{order.order.amount}}</span></li>
                            <li>Shipped to :<span> {{order.order.recepient_fullname}} ({{order.order.phone_no}}) 
                                {{order.order.address_line1}}, {{order.order.address_line2}}
                                {{order.order.city}}, {{order.order.state}}, {{order.order.country}}, 
                                {{order.order.zipcode}}</span></li>
						</ul>
					</div>
						<div class="ci-title">
                    	<h6>Items</h6>
						</div>
						<div class="ci-caption">
						<ul>
								{% for item in order.items %}
								<li>Image: <span><img style="width: 50px; height: 50px;" class="mt--2" src="{{item.get_imageURL}}"> </span></li>
								<li>Product <span>{{item.name}}</span></li>
								<li>Price <span>&#8377;{{item.price}}</span></li>
								<li>Quantity <span>{{item.quantity}}</span></li>
								<li>Total <span>{{item.get_total}}</span></li>
								{% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
			
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}