{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<h1 style="text-align: center;">{{product_category.name}}</h1>
	<div class="row">
		{% for product in products %}
			<div class="col-lg-4">
				<div class="box">
				<img class="thumbnail" style="height: 300px!important;" src="{{ product.get_imageURL }}">
				<div class="box-element product" style="margin-bottom: 10px">
					<h3>{{product.name}}</h3>
					<h4 style="display: inline-block; float: right; margin-top: -30px"><strong>&#8377;{{product.price}}</strong></h4>
					<hr>

					<button class="update_cart btn btn-outline-secondary add-btn ml-4" style="width: 40%;" product_id ="{{product.id}}">Add to Cart</button>

					<a class="btn btn-outline-success" style="width: 40%;" href="{% url 'item_detail' product.id %}">View</a>

				</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<br><br>
	<blockquote class="blockquote text-center">
		<p class="mb-0">** That's it! **</p>
		<footer class="blockquote-footer"> You've scrolled to the end of the List!</footer>
	</blockquote>

	{% endblock content %}