{% extends 'store/main.html' %}
{% block content %}
    <div class="row my-2">
		<div class="col-lg-4 order-lg-1 text-center">
			{% if request.user.profile.photo %}
				<img src="{{ user.profile.photo.url }}" class="mx-auto img-fluid img-circle d-block" alt="avatar" width="150" height="150">
			{% else %}
				<img src="http://127.0.0.1:8000/static/images/default.png" class="mx-auto img-fluid img-circle d-block" alt="avatar" width="150" , height="150">
			{% endif %}
            {% if request.user.is_authenticated %}
				{% if request.user == user %}
					<br>
					<a class="btn btn-secondary mb-2" href="{% url 'edit_profile' %}">Edit Profile</a>
				{% endif %}
			{% endif %}
        </div>
        <div class="col-lg-8 order-lg-2">
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
					<h6>@{{user.username}}</h6>
                    <h2 class="mb-3">{{user.first_name}} {{user.last_name}}</h2>
                    <div class="row">
                        <div class="col-md-6">
							<p><strong>Date Of Birth: </strong>{{user.profile.dob}}</p>
							<p><strong>E-Mail: </strong>{{user.email}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	
	<hr class="mt-3 mb-3">
	
	<h3 class="text-center">Ordered Items : </h3>
    <br>
    <div>
        {% if request.user.is_authenticated %}
            {% for order in ordered %}
			<div class="col-lg-12 col-md-12 mt-4">
            	<div class="cart-inner-box box-2 text-center">
                	<div class="ci-title">
                    	<h6>Orders</h6>
                    </div>
					
                    <div class="ci-caption">
                        <ul>
                        	<li>Order Placed <span>{{ order.order.date_ordered | date:"d M Y"}}</span></li>
                            <li>Transaction Id <span>{{order.order.transaction_id}}</span></li>
                            <li>Total<span>&#8377;{{order.order.amount}}</span></li>
                            <li>Shipped to :<span> {{order.order.recepient_fullname}} ({{order.order.phone_no}}) 
                                {{order.order.address_line1}}, {{order.order.address_line2}}
                                {{order.order.city}}, {{order.order.state}}, {{order.order.country}}, 
                                {{order.order.zipcode}}</span></li>
						</ul>
					</div>
						<div class="ci-title">
                    	<h6>Items</h6>
						</div>
						<div class="ci-caption">
						<ul>
								{% for item in order.items %}
								<li>Image: <span><img style="width: 50px; height: 50px;" class="mt--2" src="{{item.get_imageURL}}"> </span></li>
								<li>Product <span>{{item.name}}</span></li>
								<li>Price <span>&#8377;{{item.price}}</span></li>
								<li>Quantity <span>{{item.quantity}}</span></li>
								<li>Total <span>{{item.get_total}}</span></li>
								{% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
			
            {% endfor %}
        {% endif %}
    </div>
	
{% endblock %}